<%- include('../../templates/header'); -%>
<title><%= bot %> Control Panel</title>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <img src="../img/midnight_tp.png">
        <span class="d-none d-lg-block"><%= bot %></span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->



        <%- include('../../templates/profilenav'); -%>

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <%- include('../../templates/sidebar'); -%>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Terms of Service</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><%= bot %></li>
          <li class="breadcrumb-item active">Terms of Service</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Terms Of Service</h5>
              <p>Unless otherwise specified, the terms of service detailed in this section apply generally when using this Website.
                <br>
                Single or additional conditions of use or access may apply in specific scenarios and in such cases are additionally indicated within this document.
                <br>
                By using this Website, Users confirm to meet the following requirements:                
                <li>There are no restrictions for Users in terms of being Consumers or Business Users;</li></p>
            </div>
          </div>

        </div>


        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Account Registration</h5>
              <p>To use the Service Users may register or create a User account, providing all required data or information in a complete and truthful manner.
                Users may also use the Service without registering or creating a User account, however, this may cause limited availability of certain features or functions.
                
                Users are responsible for keeping their login credentials confidential and safe. For this reason, Users are also required to choose passwords that meet the highest standards of strength permitted by this Website.
                
                By registering, Users agree to be fully responsible for all activities that occur under their username and password.
                Users are required to immediately and unambiguously inform the Owner via the contact details indicated in this document, if they think their personal information, including but not limited to User accounts, access credentials or personal data, have been violated, unduly disclosed or stolen.</p>
            </div>
          </div>

        </div>


        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Account Termination</h5>
              <p>Users can terminate their account and stop using the Service at any time by doing the following:
                <li>By directly contacting the Owner at the contact details provided in this document.</li><br>
                However, termination of the account will not be possible until the subscription period paid for by the User has expired.
              </p>
            </div>
          </div>

        </div>



        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Account suspension and deletion</h5>
              <p>The Owner reserves the right, at its sole discretion, to suspend or delete at any time and without notice, User accounts which it deems inappropriate, offensive or in violation of these Terms.

                The suspension or deletion of User accounts shall not entitle Users to any claims for compensation, damages or reimbursement.
                
                The suspension or deletion of accounts due to causes attributable to the User does not exempt the User from paying any applicable fees or prices.
              </p>
            </div>
          </div>

        </div>



        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Content on this Website</h5>
              <p>
                Unless where otherwise specified or clearly recognizable, all content available on this Website is owned or provided by the Owner or its licensors.

The Owner undertakes its utmost effort to ensure that the content provided on this Website infringes no applicable legal provisions or third-party rights. However, it may not always be possible to achieve such a result.
In such cases, without prejudice to any legal prerogatives of Users to enforce their rights, Users are kindly asked to preferably report related complaints using the contact details provided in this document.
              </p>
            </div>
          </div>

        </div>



        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Access to external resources</h5>
              <p>
                Through this Website Users may have access to external resources provided by third parties. Users acknowledge and accept that the Owner has no control over such resources and is therefore not responsible for their content and availability.

Conditions applicable to any resources provided by third parties, including those applicable to any possible grant of rights in content, result from each such third parties’ terms and conditions or, in the absence of those, applicable statutory law.

In particular, on this Website Users may see advertisements provided by third parties. The Owner does not control or moderate the advertisements displayed via this Website. If Users click on any such advertisement, they will be interacting with any third party responsible for that advertisement.

The Owner is not responsible for any matters resulting from such interaction with third parties, such as anything resulting from visiting third-party websites or using third-party content.
              </p>
            </div>
          </div>

        </div>



        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Acceptal use</h5>
              <p>
                This Website and the Service may only be used within the scope of what they are provided for, under these Terms and applicable law.

Users are solely responsible for making sure that their use of this Website and/or the Service violates no applicable law, regulations or third-party rights.

Therefore, the Owner reserves the right to take any appropriate measure to protect its legitimate interests including by denying Users access to this Website or the Service, terminating contracts, reporting any misconduct performed through this Website or the Service to the competent authorities – such as judicial or administrative authorities - whenever Users engage or are suspected to engage in any of the following activities:
<br>
<li>violate laws, regulations and/or these Terms;</li>
<li>infringe any third-party rights;</li>
<li>considerably impair the Owner’s legitimate interests;</li>
<li>offend the Owner or any third party.</li>
              </p>
            </div>
          </div>

        </div>



        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">API usage terms</h5>
              <p>
                Users may access their data relating to this Website via the Application Program Interface (API). Any use of the API, including use of the API through a third-party product/service that accesses this Website, is bound by these Terms and, in addition, by the following specific terms:
<br>
<li>the User expressly understands and agrees that the Owner bears no responsibility and shall not be held liable for any damages or losses resulting from the User’s use of the API or their use of any third-party products/services that access data through the API.</li>
              </p>
            </div>
          </div>

        </div>


        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Retention of usage rights</h5>
              <p>
                Users do not acquire any rights to use the purchased Product until the total purchase price is received by the Owner.
              </p>
            </div>
          </div>

        </div>


        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Service interruption</h5>
              <p>
                To ensure the best possible service level, the Owner reserves the right to interrupt the Service for maintenance, system updates or any other changes, informing the Users appropriately.

Within the limits of law, the Owner may also decide to suspend or terminate the Service altogether. If the Service is terminated, the Owner will cooperate with Users to enable them to withdraw Personal Data or information in accordance with applicable law.

Additionally, the Service might not be available due to reasons outside the Owner’s reasonable control, such as “force majeure” (eg. labor actions, infrastructural breakdowns or blackouts etc).
              </p>
            </div>
          </div>

        </div>

      </div>


      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Messsage Logging</h5>
            <p>If you are in a Server with this bot and configured to log messages, this bot will log all your messages that either contain a bad word or were edited. To opt out of this there are following options:
              <li>Leave the Server the bot is in.</li>
              <li>Ask the Serverowners to remove the logging feature.</li>
              <li>Don't post messages with bad words or edit messages.</li>
            The Bot Team will NOT whitelist you from logging, since logging is (if enabled) to sort out bad actors, and when whitelisted can be abused!
            </p>
          </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Sebi</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <%- include('../../templates/footer'); -%>

</body>

</html>