<%- include('../../templates/header_inner'); -%>
  <title>
    <%= botname %> Control Panel
  </title>

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

      <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center">
          <img src="../../img/<%= bot %>_tp.png">
          <span class="d-none d-lg-block">
            <%= botname %>
          </span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div><!-- End Logo -->



      <%- include('../../templates/profilenav'); -%>

        </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <%- include('../../templates/sidebar'); -%>

      <main id="main" class="main">

        <div class="pagetitle">
          <h1>Servers</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item">
                <%= botname %>
              </li>
              <li class="breadcrumb-item active">Your Servers</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->

        <div class="row">

          <!-- Server-IN -->
          <% (JSON.parse(guilds)).forEach((guild)=> { %>
            <% guild.bot=guild.bot.flat() %>
            <% if(guild.bot.includes(guild.id)) { %>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                      <img
                        src="<%- !guild.icon ? `https://cdn.statically.io/avatar/${guild.name.substring(0, 2)}.png` : `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}${guild.icon.split('_')[0] === 'a' ? '.gif' : '.png'}?size=64` %>"
                        alt="Profile Image" class="rounded-circle">

                        <% if(guild.owner) { %>
                          <img  data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Owner" src="https://emoji.gg/assets/emoji/owner.png" width="16px" height="16px" alt="owner"></a>
                        <% } else { %>
                          <img  data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Admin" src="https://emoji.gg/assets/emoji/9445-blurple-staff.png" width="16px" height="16px" alt="admin"></a>
                        <% } %>

                      <%- guild.name -%>
                  </h5>

                    <a href="/midnight/settings/<%- guild.id %>"><button class="btn btn-primary" type="button"><i class="bi bi-gear-fill"></i> Settings</button></a>
                </div>
              </div>
            </div>
          <% }; %>
        <% }); %>

        <!-- Server-NOT-IN -->
        <% (JSON.parse(guilds)).forEach((guild)=> { %>
          <% guild.bot=guild.bot.flat() %>
          <% if(!guild.bot.includes(guild.id)) { %>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                      <img
                        src="<%- !guild.icon ? `https://cdn.statically.io/avatar/${guild.name.substring(0, 2)}.png` : `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}${guild.icon.split('_')[0] === 'a' ? '.gif' : '.png'}?size=64` %>"
                        style=" filter: grayscale(100%); " alt="Profile Image" class="rounded-circle">
                       
                        <% if(guild.owner) { %>
                          <img data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Owner" src="https://emoji.gg/assets/emoji/owner.png" width="16px" height="16px" alt="Owner"></a>
                        <% } else { %>
                          <img data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Admin" src="https://emoji.gg/assets/emoji/9445-blurple-staff.png" width="16px" height="16px" alt="Admin"></a>
                        <% } %>

                      <%- guild.name %> 
                  </h5>
                    <a target="_blank" href="<%= midnightinvite %>&guild_id=<%- guild.id %>&disable_guild_select=true"><button class="btn btn-secondary" type="button"><i class="bx bx-chevron-right"></i> Invite Me!</button></a>
                </div>
              </div>
            </div>
          <% }; %>
        <% }); %>

        </div>
      </main><!-- End #main -->

      <!-- ======= Footer ======= -->
      <footer id="footer" class="footer">
        <div class="copyright">
          &copy; Copyright <strong><span>Sebi</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </footer><!-- End Footer -->

      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>

      <%- include('../../templates/footer'); -%>
  </body>

  </html>