<%- include('../templates/header'); -%>
<title>Coming Soon!</title>

<body class="toggle-sidebar">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">Home</span>
      </a>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">
          <%if(user) {%>
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img src="<%- user.avatarURL %>" alt="Profile" class="rounded-circle">
              <span class="d-none d-md-block dropdown-toggle ps-2">Profile</span>
            </a><!-- End Profile Iamge Icon -->
          <%} else {%>
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <span class="d-none d-md-block dropdown-toggle ps-2">Profile</span>
            </a><!-- End Profile Iamge Icon -->
          <%}%>
          
          
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <%if(user) {%>
                <li class="dropdown-header">
                  <h6><%- user.tag %></h6>
                  <span>Version: <%= version %></span>
                </li>
                <%} else {%>
                  <li class="dropdown-header">
                    <h6>Logged out!</h6>
                    <span>Version: <%= version %></span>
                  </li>
                <%}%>
              <li>
                <hr class="dropdown-divider">
              </li>
        
              <%if(user) {%>

                <li>
                  <a class="dropdown-item d-flex align-items-center" href="/logout">
                    <i class="bi bi-person"></i>
                    <span>Logout</span>
                  </a>
                </li>
                <%} else {%>
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="/login">
                      <i class="bi bi-person"></i>
                      <span>Login with Discord</span>
                    </a>
                  </li>
                <%}%>
              <li>
                <a class="dropdown-item d-flex align-items-center" href=<%= invite %>>
                  <i class="bi bi-arrow-right"></i>
                  <span>Join our Server!</span>
                </a>
              </li>
        
            </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->


        

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Home</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Version <%= version %></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><img src="../public/img/logo.png" alt="" class="rounded-circle"> Thread Manager</h5>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint deserunt quisquam vel officiis obcaecati aliquid, adipisci repellendus quod aspernatur enim doloribus eos illum ipsum alias suscipit totam quam ea molestiae?</p>
              <br>
              <p><b>Servers: </b>1.000.000</p>
              <p><b>Users: </b>1.000.000</p>
              <p><b>Channels: </b>1.000.000</p>
              <div class="d-grid gap-2 mt-3">
                <a target="_blank" href=<%= threadmanagerinvite %> <button class="btn btn-primary" type="button"><i class="ri-download-2-fill"></i> Invite Thread Manager</button></a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Midnight</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint deserunt quisquam vel officiis obcaecati aliquid, adipisci repellendus quod aspernatur enim doloribus eos illum ipsum alias suscipit totam quam ea molestiae?</p>
                <br>
                <p><b>Servers: </b>1.000.000</p>
                <p><b>Users: </b>1.000.000</p>
                <p><b>Channels: </b>1.000.000</p>
                <div class="d-grid gap-2 mt-3">
                  <a target="_blank" href=<%= midnightinvite %> <button class="btn btn-primary" type="button"><i class="ri-download-2-fill"></i> Invite Midnight</button></a>
                </div>
              </div>
            </div>
          </div>
          </div>

      <div class="row">

        <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">TipicoX</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint deserunt quisquam vel officiis obcaecati aliquid, adipisci repellendus quod aspernatur enim doloribus eos illum ipsum alias suscipit totam quam ea molestiae?</p>
                <br>
                <p><b>Servers: </b>1.000.000</p>
                <p><b>Users: </b>1.000.000</p>
                <p><b>Channels: </b>1.000.000</p>
                <div class="d-grid gap-2 mt-3">
                  <a target="_blank" href=<%= tipicoxinvite %> <button class="btn btn-primary" type="button"><i class="ri-download-2-fill"></i> Invite TipicoX</button></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Infinity Lounge</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint deserunt quisquam vel officiis obcaecati aliquid, adipisci repellendus quod aspernatur enim doloribus eos illum ipsum alias suscipit totam quam ea molestiae?</p>
                <br>
                <p><b>Servers: </b>1.000.000</p>
                <p><b>Users: </b>1.000.000</p>
                <p><b>Channels: </b>1.000.000</p>
                <div class="d-grid gap-2 mt-3">
                  <a target="_blank" href=<%= infinityloungeinvite %> <button class="btn btn-primary" type="button"><i class="ri-download-2-fill"></i> Invite Infinity Lounge</button></a>
                </div>
              </div>
            </div>
          </div>


    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Sebi</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <%- include('../templates/footer'); -%>

</body>

</html>